[Desktop Entry]
Type=Application
Name=Kiosk
Comment=Lancer le kiosk
Exec=sh /home/pi/.scripts/kiosk.sh
Icon=/home/pi/images/k-icon.png
Terminal=false
Categories=Application

